/* global css start */
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* global css end */
/* header part start */
header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 999999;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1.5rem;
}
.navbar{
    padding: 30px 0px;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav a{
    color: black !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    transition:all 0.5 ease;
}
.navbar-nav a:hover{
    color: #48baff !important;
    font-size: 17px;
}
/* header part end */
/* banner part start */
#banner{
    width: 100%;
    height: 950px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text h2{
    margin: 320px 0 25px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 120px;
    color: #fff;
    position: relative;

}
.banner-text h2::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 260px;
    width: 585px;
    height: 2px;
    background-color: #15a4fa;
}
.banner-text p{
    color: #fff;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 47px;
}
.cta-btn{
    padding: 10px 35px;
    margin-bottom: 200px;
    background-color: transparent;
    border: 1px solid #15a4fa;
    color: #fff;
    transition: all .5s ease-in;
    border-radius: 3px;

}
.cta-btn:hover{
    background-color: #2d3950;
    border: 1px solid #fff;
}
.fas.fa-angle-down{
    color: #fff;
    font-size: 60px;
}
/* banner part end */
/* simple & pure part start */
#simple_pure{
    padding: 80px 0;
    background-color: #e2f2f2;
}
.simple-text h4{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}
.simple-text p{
    color: #999999;
    font-size: 20px;
}
/* simple & pure part end */
/* feature part start */
#feature{
    padding: 70px 0;
}
.icon{
    width: 100px;
    height: 105px;
    background-image:linear-gradient(to right,#48baff 50%,#5fc3ff 50%);
    margin: 0 auto 30px;
    color: #fff;
    transition: all .4s ease;
}
.icon:hover{
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: #5fc3ff;
    transform: scale(1.2);
}
.icon .fas,.fab{
    font-size: 55px;
    padding-top: 25%;
}
.icon-text h5{
    font-size: 22px;
    font-weight: 500;
}
.icon-text p{
    color: #999999;
    font-size: 15px;
    margin: 15px 20px;
}
/* feature part end */
/* portfolio part start */
#portfolio{
    padding: 100px 0;
    background-color: #e2f2f2;
}
.portfolio-text {
    margin-bottom: 80px;
}
.portfolio-text h2{
    font-size: 41px;
    font-weight: 500;
}
.portfolio-text p{
    font-size: 15px;
    color: #999999;
}
.portfolio{
    width: 360px;
    height: 260px;
    position: relative;
    margin-bottom: 30px;

}
.portfolio img{
    width: 100%;
    height: 100%;

}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-color: #15a4fa;
    top: 0;
    left: 0;
    transition:all .3s ease;
}
.overlay:hover{
    opacity: .8;
}
.overlay a{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    transition: all .5s ease;
}
.overlay a:hover{
    color: black;
    border: 2px solid black;
}
.inner{
    margin: 120px 130px;
}
.inner.box-2{
    margin: -144px 182px;
}
/* portfolio part end */
/* contact part start */
#contact{
    width: 100%;
    height: 700px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-text{
    padding: 75px 0 50px;
}
.inner-text h2{
    font-size: 41px;
    font-weight: 500;
    color: #fff;
}
.inner-text p{
    font-size: 15px;
    color: #999999;
}
.information input{
    width: 550px;
    height: 60px;
    background-color: transparent;
    color: #999999;
    margin-bottom: 10px;
    border: 1px solid #999999;
    border-radius: 3px;
    padding-left: 25px;
}
.information input:hover{
    border: 1px solid #15a4fa;
}
input.message{
    height: 160px;
    padding-bottom: 100px;
}
#checkbox {
    width: 0px;
    height: 10px;
}
span{
    color: #fff;
    margin-left: 10px;
}
.cta-2{
    background-color: transparent;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    color: #fff;
    padding: 10px 52px;
    margin-left: 232px;
    margin-top: 20px;
    transition: all .5s ease;
}
.cta-2:hover{
    background-color: #4485ee;
}
/* contact part end */
/* footer part start */
footer{
    padding: 25px 0 0;
}
.copyright-text p{
    font-size: 15px;
    color: #999999;
    padding: 18px 0px !important;
}
.social-icon{
    margin-left: 318px;
}
.social-icon .fab{
    padding: 0 0 0 5px;
    color: #15a4fa;
    transition: all .5s ease;
}
.social-icon .fab:hover{
    color: #28313b;
    transform: scale(1.2);;
}

/* custom jquery code start */
.fancybox-button{
    margin-top: 155px !important;
    right: 325px;
}
/* custom jquery code end*/